target/
.idea/
*.iml
.settings/
.classpath
.project
.tern-project

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
!bin/*.jar
*.war
*.ear
*.tar.gz
*.rar
